<h1>About Ruby&Red</h1>
<p> 
	
	Welcome to Ruby&Red! Red&Red is website dedicated to self expression and socializing. 

	Sign up, create an account and have fun! 

	This website was coded by me, Kiara Boboff, and I used 'Ruby' in the name to express my love for coding! I am a self taught female coder and I used the program 'One Month Rails' to help me initially learn. The website for 'One Month Rails' is below. Hope you enjoy your time on my webiste! 
</p> 
