<h1>About Ruby Fashion</h1>
<p> 
	<%= link_to "some fashion thing", "*" %> 
	Welcome to Ruby Fashion! We are dedicated to bringing to you the latest and greatest fashion trends. Make friends and learn about fashion! We hope you enjoy! 
	Follow on Instagram
	<%= link_to "You See Fashion", "http://instagram.com/youseefashion" %>
	an account run by Ruby Fashion!


</p> 
