<div class= "hero-unit">
	<h1> Ruby Fashion</h1>
	<p>
		Welcome to Ruby Fashion! Learn about the most stylish trends in clothing and shoes. Make friends and have fun! Follow  <%= link_to "You See Fashion!", "http://instagram.com/youseefashion" %> an Instagram account run by Ruby Fashion.
	</p>
	<p> 
		<%= link_to "Sign Up Now!", "*", class: "btn btn-info btn large" %> 
	</p>
</div>